.loadingModal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
    url('../img/loading.gif')
    50% 50%
    no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loadingModal {
    display: block;
}

.custom-height{
    height: calc(100vh);
}

.table-xs td,
.table-xs tr,
.table-xs th {
    padding: 0.1rem !important;
}

.overflow-y-auto{
    overflow-y: auto
}

.parent {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.child {
      width:250px;
      height:250px;
      border:1px solid #ccc !important;
      margin:25px;
      flex: 0 0 auto;
      overflow: auto;
}