<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6JD618ZWVK"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6JD618ZWVK');
    </script>

    <!-- Hotjar Tracking Code for NL4DV -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:5201117,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    
    <meta charset="UTF-8">
    <title>NL4DV | Debugger - Batch</title>

    <!--Favicon-->
    <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('debugger_batch.static', filename='img/favicon.ico') }}"/>

    <!--Vendor CSS files-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.css" rel="stylesheet">

    <!--Custom CSS files-->
    <link href="{{ url_for('debugger_batch.static', filename='css/style.css') }}" rel="stylesheet">

</head>
<body>
    <div class="container-fluid">
        <br/>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary" onclick="execute()">
                    Execute
                </button>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-md-12">
                <div class="loadingModal"></div>
                <table class="table table-condensed table-bordered" id="debugTable">
                    <thead>
                        <tr>
                            <th width="5%">Dataset</th>
                            <th width="10%">Query</th>
                            <th width="20%">Vis</th>
                            <!--<th>Show All </th>-->
                            <th width="30%">Attributes</th>
                            <th width="35%">Tasks</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</body>

<!--JS files-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

<script src="{{ url_for('debugger_batch.static', filename='js/global.js') }}"></script>
<script src="{{ url_for('debugger_batch.static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('debugger_batch.static', filename='js/ui.js') }}"z></script>
<script src="{{ url_for('debugger_batch.static', filename='js/main.js') }}"></script>

</html>
