a {
  color: #1e6bb8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.page-header-bg {
  color: #fff;
  text-align: center;
  background-color: #3498db;
  background-image: linear-gradient(120deg, #2c3e50, #3498db);
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7;
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.3);
}

.btn + .btn {
  margin-left: 1rem;
}

@media screen and (min-width: 64em) {

  .btn {
    padding: 0.75rem 1rem;
    margin-right: 2rem;
  }

  .project-name {
    font-size: 2.25rem;
  }

  .project-tagline {
    font-size: 1.25rem;
  }

  .page-header {
    padding: 4rem 3rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .btn {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  .project-tagline {
    font-size: 1.15rem;
  }

  .page-header {
    padding: 3rem 4rem;
  }

  .project-name {
    font-size: 3.25rem;
  }

  .project-name {
    font-size: 2.25rem;
  }

}


@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem;
  }

  .project-name {
    font-size: 1.75rem;
  }

  .btn {
    display: block;
    width: 100% - 2em;
    padding: 0.75rem;
    font-size: 0.9rem;
  }

  .btn + .btn {
    margin-top: 1rem;
    margin-left: 0;
  }

  .page-header {
    padding: 2rem 1rem;
  }
}

#controls{
    margin-top: 24px;
}

table, th, tr, td{
   border: 1px solid black;
}

table, th, tr, td{
   border: 1px solid black;
   padding: 5px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

#container{
    width: 50%;
    margin: 0 auto;
}
