body{
    /*overflow-x: hidden;*/
    overflow-y: auto;
}

#navContainer{
    background-color: whitesmoke;
}

.introText{
    font-size: large;
    padding: 1% 2.5% 1% 0%;
    color: #444444;
    font-style: italic;
}

.interactionOverview{
    font-size: medium;
}

.queryAccordion {
    /*background-color: #eee;*/
    /*color: gray;*/
    cursor: pointer;
    padding: 0.1px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: large;
    transition: 0.2s;
}

.activeQuery, .queryAccordion:hover {
    background-color: #ccc;
    font-weight: bold;
}

.queryPanel {
    /*padding: 2.5%;*/
    background-color: white;
    max-height: 300px;
    /*overflow: auto;*/
    transition: max-height 0.2s ease-out;
}

.visThumbnail{
    max-width: 450px;
    height: 300px;
    border: 1px solid lightgray;
    overflow: auto;
    /*display: flex;*/
    /*flex-wrap: nowrap;*/
    margin: 1% 1% 2% 1%;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

.queryContainer{
    margin-bottom: 5%;
}

.expandAllQueriesBtn, .collapseAllQueriesBtn{
    background-color: white;
    font-size: small;
}