<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6JD618ZWVK"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6JD618ZWVK');
    </script>

    <!-- Hotjar Tracking Code for NL4DV -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:5201117,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    
    <meta charset="UTF-8">
    <title>NL4DV | Chatbot</title>

    <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('chatbot.static', filename='img/favicon.ico') }}" />

    <!--Vendor CSS files-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">

    <!--Custom CSS files-->
    <link href="{{ url_for('chatbot.static', filename='css/botui.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('chatbot.static', filename='css/botui-default-theme.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('chatbot.static', filename='css/style.css') }}" rel="stylesheet">

</head>

<body>    
    <div class="container">
        <div style="text-align: center; margin-top: 16px;">
            <h5>Chatbot powered by NL4DV</h5>
            <h6>
                <span>Ask questions about the</span> 
    
                <select id="datasetSelect">
                    <option value="movies-w-year.csv" selected="selected">Movies</option>
                    <option value="olympic_medals.csv">Olympic Medals</option>
                    <option value="cars-w-year.csv">Cars</option>
                    <option value="housing.csv">Housing</option>
                    <option value="colleges.csv">Colleges</option>
                    <option value="euro.csv">Euro</option>
                    <option value="superstore.csv">Superstore</option>
                    <option value="nba-mvp.csv">NBA MVP</option>
                </select> 
            
                <span>dataset.</span>
            </h6>
        </div>
        <hr>
        <div id="my-botui-app">
            <div style="height: 700px; overflow-y: auto">
                <bot-ui></bot-ui>
            </div>
        </div>    
    </div>
</body>

<!--JS files-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

<script src="{{ url_for('chatbot.static', filename='js/vue.min.js') }}"></script>
<script src="{{ url_for('chatbot.static', filename='js/botui.min.js') }}"></script>
<script src="{{ url_for('chatbot.static', filename='js/global.js') }}"></script>
<script src="{{ url_for('chatbot.static', filename='js/main.js') }}"></script>

</html>